@font-face {
    font-family: trash;
    src: url("fonts/TrashBold.otf") format("opentype");
}

@font-face {
    font-family: walsheim;
    src: url("fonts/GTWalsheimProRegular.otf") format("opentype");
}

@font-face {
    font-family: walsheim_light;
    src: url("fonts/GTWalsheimProLight.otf") format("opentype");
}

@font-face {
    font-family: walsheim_thin;
    src: url("fonts/GTWalsheimProThin.otf") format("opentype");
}

  
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: black;
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

html {
    height: 100%;
    font-family: walsheim, sans-serif;
    background-color: #000;
    color: white;
    font-size: 1em;
}

body {
    height: 100%;
    margin: 0;
}

#rgbKineticSlider {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#rgbKineticSlider canvas {
    height:100%;
    width: 100%;
    transition: filter ease-in-out 1000ms 500ms;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
}

header, footer {
    padding: 0 2em;
    display:flex;
    width: 100%;
    align-items: center;
    z-index: 1;
    cursor: default;
    height:3em;
}

header {
    justify-content: flex-end;
}

footer .language {
    flex-grow: 1;
    margin-left: 1em;
    display: none;
}

footer #selavy {
    flex-grow: 1;
}

footer #facebook {
    margin-left: 1em;
}

footer #credits a {
    text-decoration: none;
}

.language .button {
    cursor: pointer;
}

.language .selected {
    font-weight: bold;
    text-decoration: underline;
}

#main-row {
    flex: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
}

#main-row > div {
    height: 100%;
}

#main-row #title-placeholder {
    flex:0 0 18em;
}

#main-row #menu {
    flex: 0;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

#main-row #menu .main-nav {
    cursor: pointer;
    align-self: flex-end;
}

#main-row #menu .main-nav div {
    width: 3em;
    height: 3px;
    margin: 8px 0;
    background-color: #e0e0e0a0;
    transition: ease-in-out 500ms;
    transition-property: background, width;
}

#main-row #menu .main-nav.active div {
    width: 5em;
    background-color: white;
}

#main-row #content {
    flex:1;
    overflow-y: scroll;
    display: flex;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

#main-row #content::-webkit-scrollbar {
    display: none;
}















section {
    display: none;
    text-align: left;
    font-size: 1.3em;
    opacity: 0;
    transition: opacity ease-in-out 500ms;
}

section.active {
    display: block;
}

section.visible {
    opacity: 1;
    transition-delay: 500ms;
}

section .container {
    margin: auto 10em auto 18em;
}

#contributions.active {
    display: flex;
    flex-direction: column;
    height: calc(100% - 8em);
}

#contributions .step {
    display: none;
    opacity: 0;
    transition: opacity ease-in-out 500ms;
}

#contributions .step.active {
    display: block;
}

#contributions .step.visible {
    opacity: 1;
}

#contributions .content-container  {
    font-size: 1.2em;
}

#curiosites  {
    margin:auto;
}

.qcm {
    display: flex;
    justify-content: center;
}

.answer {
    border: solid 1px white;
    padding: 0.8em 1em;
    cursor: pointer;
    font-size: 1.4em;
    text-align: left;
    position: relative;
    overflow: hidden;
    margin-left: 1em;
}

.answer:first-child {
    margin-left: 0;
}

.answer::after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 4px;
    background: white;
}

.answer:hover::after {
    width: 100%;
    left: 0;
}

a {
    color: white;
}

#home.active {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 7em;
    margin: 0.5em auto;
}

.thin {
    font-family: walsheim_thin, sans-serif;
}

#home h3, .title h3 {
    margin: auto;
}

html:lang(fr) .en {
    display: none !important;
}

html:lang(en) .fr {
    display: none !important;
}

.accordion div {
    text-align: left;
}

.accordion-item {
    cursor: pointer;
    margin: 1em 0;
}

.accordion-item h4 {
    margin: 0;    
}

.accordion-item h4::before {
    content: '+';
    margin-right: 0.9em;
}

.accordion-item.active h4::before {
    content: '-';
    margin-right: 0.9em;
}

.accordion-item ul {
    margin-top: 1em;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    padding-left: 1em;
    margin-bottom: 0;
    margin-left: 0.5em;
    border-left: solid 1px white;
    transition: max-height 0.5s ease-in-out 0s, opacity 0.25s ease-in-out 0s, padding 0s ease-in-out 0s, visibility 0s ease-in-out 0.5s;
    list-style: none;
}

.accordion-item:last-child ul {
    display: none;
}

.accordion-item.active ul {
    display: block;
    visibility: visible;
    max-height: 10em;
    opacity: 1;
    transition: max-height 0.5s ease-in-out 0.10s, opacity 0.25s ease-in-out 0.5s, padding 0s ease-in-out 0s, visibility 0s ease-in-out 0s;
}

.accordion li {
    font-size: 1em;
    font-family: walsheim_thin, sans-serif;
    line-height: 1.5em;
}

text {
    font-size: 1.8em;
    text-anchor: middle;
    dominant-baseline: central;
}

.masked {
    fill:rgba(255,255,255,0.8);
}

#myText {
    fill: #000;
}

.appearing{
    fill:transparent;
    cursor: pointer;
}

svg:hover .masked{
    cursor: pointer;
    stroke-width: 3;
    stroke: rgb(255,255,255);
    fill:transparent;
}

svg:hover .appearing{
    cursor: pointer;
    font-size: 1.8em;
    fill: white;
}

#close_png {
    position: fixed;
    top: 5em;
    margin: 0;
    right: 0;
    transform: scale(0.5);
    cursor: pointer;
    z-index: 100;
    display: none;
}



@media (max-width: 1100px) {
    html {
        font-size: 0.9em;
    }
    footer, header {
        font-size: 0.9em;
    }
}

@media (max-width: 870px) {
    #main-row {
        flex-direction:column;
        padding: 0 2em;
    }
    
    #main-row #title-placeholder {
        flex:0 0 7em;
    }

    #main-row #menu {
        display: none;
    }

    #selavy {
        display: none;
    }

    header .language {
        display: none;
    }

    footer .language {
        display: block;
    }

    h3 {
        font-size: 4em;
    }

    #content section .container {
        max-width: none;
        margin: 0 2em;
    }
}

@media (max-width: 400px) {
    h3 {
        font-size: 3em;
    }
}

@media (max-width: 370px) {
    html {
        font-size: 0.7em;
    }
}