@font-face {
    font-family: rumeur;
    src: url("2019/fonts/rumeur.otf") format("opentype");
}

@font-face {
    font-family: suisse;
    src: url("2019/fonts/suisseintl-medium.otf") format("opentype");
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#main {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#backgroundContainer {
    position: fixed;
    height: 100%;
    width: 100%;
}

#content {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

section {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
    color: white;
}

img.background {
    height: 100%;
    width: 100%;
}
